.container{
    background: linear-gradient(135deg ,var(--sub-color),var(--main-color));
}
.container form{
    max-width: 400px;
    border-radius: 5px;
}
.field-box{
    position: relative;
    width: 320px;
}
.field-box input{
    width: 100%;
    border: none;
    border: 2px solid #8c8c8c;
    border-radius: 3px;
    padding: 10px;
    outline: none;
    resize: none;
    margin-bottom: 20px;
    /* resize: vertical;
    min-height: 50px;
    max-height: 200px; */
}
label{
    color: #1f1f1f8b;
}
.field-box label{
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 18px;
    /* text-transform: capitalize; */
}
.field-box input:focus ~ label,
.field-box input:valid ~ label{
    left: 3px;
    top: -20px;
    color: var(--main-color);
    font-size: 16px;
}
h1{
    background-color: var(--sub-color);
    color: white;
    width: 100%;
    padding: 30px 25px;
    border-radius: 5px 5px 0 0;
    margin-bottom: 60px;
}
.button a{
    text-decoration: none;
    font-size: 18px;
    padding-left: 15px;
    color: var(--main-color);
}
.field-box i{
    position: absolute;
    top: 8px;
    right: 20px;
    color: #8c8c8c;
    font-size: 25px;
}
.box{
    background: linear-gradient(45deg , var(--sub-color),var(--main-color));
    width: 700px;
    height: 600px;
    
}